.mybanner {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;    /* vertical center */
  height: 50%; /* or set a specific height */
}

.mybanner-logo {
  max-width: 50%; /* makes sure image scales nicely */
  height: auto;
}
